image: docker:20.10.11

stages:
  - build
services:
    - docker:20.10.10-dind
before_script:
  - echo $DOCKER_CI_CD_TOKEN | docker login -u $DOCKER_ID $CI_REGISTRY --password-stdin

Production image:
  stage: build
  script:
    - docker build -f ./docker/Rust_Dev_Image -t ${CI_REGISTRY_NAME}:${CI_IMAGE_NAME}
    - docker push ${CI_REGISTRY}/${CI_REGISTRY_NAME}:${CI_IMAGE_TAG}
