version: "3.8"

services:
  rust_dev:
    profiles: ["dev-container"]
    image: myt/automation-api:dev
    container_name: Automate-API-Dev
    ports:
      - ${WARP_PORT}:3030
    build:
      context: .
      dockerfile: ./docker/Rust_Dev_Dockerfile
    volumes:
      - .:/app
    environment:
      - RABBITMQ_ENDPOINT=rabbitmq_dev
      - RABBITMQ_PORT=5672
  rust_prod:
    profiles: ["staging", "production"]
    image: btcreator/myt:automate-api
    container_name: Automate-API-Prod
    ports:
      - ${WARP_PORT}:3030
    build:
      context: .
      dockerfile: ./docker/Rust_Prod_Dockerfile
    environment:
      - RABBITMQ_ENDPOINT=rabbitmq_dev
      - RABBITMQ_PORT=5672
  rabbitmq_dev:
    profiles: ["dev-container", "dev-local", "staging"]
    image: rabbitmq:3.9.10-management-alpine
    container_name: RabbitMQ-Dev
    ports:
      - ${RABBITMQ_EXTERNAL_PORT}:5672
      - ${RABBITMQ_EXTERNAL_MANAGEMENT_PORT}:15672
  rabbitmq-prod:
    profiles: ["prod"]
    image: rabbitmq:3.9.10-alpine
    container_name: RabbitMQ-Prod

